@import url("../components/comp_child/styles/search.css");

/* ### LOGO ################################# */
header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 24px;
}
header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.logo__img {
    height: 40px;
}
.logo__name {
    font-size: 20px;
    margin-left: 16px;
}

/* ### ACTION ############################### */
header .action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 24px;
    position: relative;
}

.action__user {
    background-color: #ececec;
    /* width: 100px; */
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
}

.action__user p {
    padding: 0 8px 0 16px;
}

.action__user .image {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    clip-path: circle(50%);
    overflow: hidden;
}

.action__user img {
    width: 100%;
}

.action__notify {
    color: #ffa100;
    padding: 0 12px;
    cursor: pointer;
    margin-left: 12px;
}

.action__blogs {
    font-weight: 500;
    cursor: pointer;
}

/* ### ACTION - MENU ########################## */
#user_menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 8px #b5b5b5;
    min-width: 220px;
    border-radius: 4px;
}

#user_menu::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid #00000000;
    border-right: 8px solid #00000000;
    position: absolute;
    right: 28px;
    top: -8px;
}

#user_menu a {
    display: block;
    text-decoration: none;
    color: var(--dark-color);
    padding: 4px 12px;
    font-weight: 100;
    margin: 4px;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
}

#user_menu a:hover {
    cursor: pointer;
    background-color: #ececec;
    color: var(--second-color);
}
