.home {
    display: flex;
}

/* ### HOME - CONTENT ##################### */
.home__content {
    width: calc(100% - 250px);
    /* border-right: 1px solid #000; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.home__content a {
    text-decoration: none;
    color: var(--dark-color);
}

.home__content h1 {
    padding-left: 20px;
    border-left: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
    border-end-start-radius: 28px;
    margin: 8px 0 20px 0;
}

.home__content-hot {
    width: 100%;
    height: 280px;
}

.home__content-hot .hotitem {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 4px 12px #00000050;
    transition: all ease-in-out 0.3s;
}

.home__content-hot .hotitem:hover {
    box-shadow: 0 2px 20px #00000080;
}

.home__content-hot .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.home__content-hot .title {
    text-decoration: none;
    color: #000;
    margin-bottom: auto;
    font-size: 28px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home__content-hot .title:hover {
    cursor: pointer;
    color: var(--second-color);
}

.home__content-hot .sapo {
    font-weight: 300;
    word-wrap: normal;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home__content-hot .user {
    margin-bottom: 24px;
    display: flex;
}

.home__content-hot .user__image {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    clip-path: circle(50%);
    overflow: hidden;
}

.home__content-hot .user__image img {
    width: 100%;
    height: auto;
}

.home__content-hot .user__about {
    padding: 8px 12px;
}

.home__content-hot .user__about p {
    font-weight: 100;
}

.home__content-hot .other {
    font-weight: 100;
    font-size: 12px;
    opacity: 0.5;
}

.home__content-hot .image {
    width: 400px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    /* box-shadow: 0 0 4px #ff00bb; */
}

.home__content-hot .image img {
    width: 101%;
    height: 101%;
    border-radius: 12px;
    transition: all ease-in-out 0.3s;
}

.home__content-hot .image:hover img {
    scale: 1.005 1.005;
    cursor: pointer;
}

.home__content-items {
    flex: 1;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(((1075.6px - (240px * 4)) / 3) * -1);
}

.home__content-items .item {
    width: 240px;
    margin-left: calc(((1075.6px - (240px * 4)) / 3));
    margin-bottom: 20px;
}

.home__content-items .image {
    width: 100%;
    height: 135px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.home__content-items .image img {
    width: 101%;
    height: 101%;
    transition: all ease-in-out 0.2s;
}

.home__content-items .image:hover img {
    scale: 1.05 1.05;
    cursor: pointer;
}

.home__content-items .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 4px 4px;
}

.home__content-items .title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home__content-items .title:hover {
    cursor: pointer;
    color: var(--second-color);
}

.home__content-items .other {
    font-weight: 100;
    font-size: 12px;
    opacity: 0.5;
}

.home__content-blog_items {
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.home__content-blog_items .blog_item {
    box-shadow: 0 0 4px #7a7a7a;
    width: calc((1075.6px / 2) - 20px);
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all ease-in-out 0.2s;
}

.home__content-blog_items .blog_item:hover {
    box-shadow: 0 0 12px #7a7a7a;
}

.home__content-blog_items .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.home__content-blog_items .text img {
    width: 40px;
    height: 40px;
}

.home__content-blog_items .text .title {
    text-decoration: none;
    color: #000;
}

.home__content-blog_items .text .other {
    margin-top: auto;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.5;
}

.home__content-blog_items .image {
    width: 40%;
    height: 80%;
    margin: auto 12px auto 0;
    border-radius: 12px;
    overflow: hidden;
}
.home__content-blog_items .image img {
    width: 101%;
    height: 101%;
    border-radius: 12px;
    transition: all ease-in-out 0.3s;
}

.home__content-blog_items .image:hover img {
    scale: 1.05 1.05;
    cursor: pointer;
}

.home__content-blog_items .user {
    margin-bottom: 24px;
    display: flex;
}

.home__action-select .user__image,
.home__content-blog_items .user__image {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    clip-path: circle(50%);
}

.home__action-select .user__image img,
.home__content-blog_items .user__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__action-select .user__about,
.home__content-blog_items .user__about {
    color: var(--dark-color);
    margin-left: 8px;
    display: flex;
    align-items: center;
}

/* ### HOME - ACTION MANAGER #################### */
.home__action {
    background-color: var(--bg-color);
    width: 250px;
    height: 500px;
    /* margin-top: 20px; */
    padding-left: 20px;
    position: sticky;
    top: 70px;
    right: 24px;
    z-index: 1;
    overflow: overlay;
}

.home__action h2 {
    background-color: var(--bg-color);
    position: sticky;
    top: 8px;
    padding-left: 20px;
    border-left: 4px solid var(--second-color);
    border-bottom: 4px solid var(--second-color);
    border-end-start-radius: 20px;
}

.home__action-select {
    margin: 12px 12px 20px;
    display: flex;
    flex-direction: column;
}

.home__action-select a {
    height: 36px;
    padding: 0 12px;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 2px;
}

.home__action-select a:hover {
    background-color: #7d7d7d20;
    color: var(--second-color);
}

/* ### FORM - ACTION MANAGER #################### */
form.add-form {
    border-left: 4px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

form.add-form .row_title {
    background-color: #e7e7e7;
    font-size: 40px;
    padding: 0 24px;
    margin-bottom: 20px;
    position: sticky;
    top: 70px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.add-form .row_title a {
    font-size: 20px;
}
form.add-form .row_title a:hover {
    color: var(--primary-color);
}

form.add-form .row_title a :last-child {
    margin-left: 8px;
}

form.add-form .cluster {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form.add-form .cluster.visible {
    display: none;
}

form.add-form .row {
    padding-left: 24px;
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

form.add-form .cluster__row {
    width: 50%;
}

form.add-form label {
    width: var(--width);
}

form.add-form textarea,
form.add-form input {
    padding: 4px 8px;
}

form.add-form #blog__tyimg-label {
    width: 400px;
    height: 225px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 24px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
}

form.add-form #blog__tyimg-label p {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form.add-form #blog__tyimg-label p :last-child {
    font-size: 50px;
    margin-top: 30px;
}

form.add-form #blog__tyimg-label:hover,
#del_img:hover,
#reset_img:hover {
    cursor: pointer;
    background-color: #e64186;
}

form.add-form .blog__tyimg-input {
    display: none;
}
.typical_image-action {
    margin-left: 24px;
    display: flex;
    justify-content: center;
}
#del_img,
#reset_img {
    display: none;
    width: 150px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 12px;
    margin: 0 12px;
}

#del_img {
    display: block;
}

form.add-form .blog__title-input {
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 30px;
    font-weight: bold;
}

form.add-form .row :last-child {
    flex: 1;
}

form.add-form .row button {
    background-color: var(--bgc);
    color: var(--clr);
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

form.add-form .row button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

form.add-form .row button:active {
    background-color: var(--bgc);
    cursor: progress;
}
